<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #50E3C2;"></span>
    <span class="sg-label">
			$color-vert <br />
			#50E3C2
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #8738FA;"></span>
    <span class="sg-label">
			$color-violet <br />
			#8738FA
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #F01F3D;"></span>
    <span class="sg-label">
			$color-rouge <br />
			#F01F3D
		</span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #27104A;"></span>
    <span class="sg-label">
			$color-violetsombre <br />
			#27104A
		</span>
  </li>
</ul>