<div class="all-article">
<div class="article_block">
  {{>atoms-article_image}}
  <div class="article_text">
      <div class="date">06.12.17</div>
      {{>atoms-button_author}}
      <div class="title">Svgator : un outil online pour animer vos SVG !</div>
    </div>
</div>
<div class="tags">
  {{>atoms-button_tag}}
  {{>atoms-button_tag}}
</div>
</div>
