<div class="menu-rubrique">

  {{>atoms-button_logiciels}} {{>atoms-button_code}} {{>atoms-button_veille}} {{>atoms-button_tutoriels}} {{>atoms-button_livres}} {{>atoms-button_histoire}} {{>atoms-button_focus}}

</div>