<img src="../../images/calendrier.svg" alt="{{ imgSquare.alt }}" class="{{calendrier}}" />
<img src="../../images/crayon.svg" alt="{{ imgSquare.alt }}" class="{{crayon}}" />
<img src="../../images/fleche_bas.svg" alt="{{ imgSquare.alt }}" class="{{fleche_bas}}" />
<img src="../../images/fleche_haut.svg" alt="{{ imgSquare.alt }}" class="{{ styleModifier }}" />
<img src="../../images/like.svg" alt="{{ imgSquare.alt }}" class="{{ styleModifier }}" />
<img src="../../images/main.svg" alt="{{ imgSquare.alt }}" class="{{ styleModifier }}" />
<img src="../../images/partage.svg" alt="{{ imgSquare.alt }}" class="{{ styleModifier }}" />
<img src="../../images/smiley.svg" alt="{{ imgSquare.alt }}" class="{{ styleModifier }}" />