<h1>Brandon Grotesque Office Bold, Italic, 60pt;</h1>
<h2>Brandon Grotesque Office Bold, Italic, 30pt;</h2>
<h3>Brandon Grotesque Office Bold, Italic, 20pt;</h3>
<h4>Brandon Grotesque Office, Bold, 20pt;</h4>
<h5>Brandon Grotesque Office, Bold, 15pt;</h5>
<h6>Brandon Grotesque Office, Italic, 20pt;</h6>
<h7>Museo, 500, 13pt;</h7>
<h8>Museo, 700, 15pt;</h8>
<h9>Museo, 700, 55pt;</h9>