<div class="footer">
    {{>atoms-ecv_logo_couleur}}

    <ul>
      <li><h5>+ SOUMETTRE UN ARTICLE</h5></li>
      <li><h5>WWW.ECV.FR</h5></li>
      <li><h5>MENTIONS LÉGALES</h5></li>
      <li><h5>CRÉDITS</h5></li>
   </ul>

   </div>
