<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
						$color-white <br />
						#ffffff
				</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #D8D8D8;"></span>
		<span class="sg-label">
						$color-grey <br />
						#D8D8D8
				</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #282828;"></span>
		<span class="sg-label">
						$color-lightblack <br />
						#282828
				</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #000000;"></span>
		<span class="sg-label">
						$color-black <br />
						#000000
				</span>
	</li>
</ul>
