<div class="article-list">
{{>molecules-article_block}}
{{>molecules-article_block}}
{{>molecules-article_block}}

</div>
<div class="article-list2">
{{>molecules-article_block}}
{{>molecules-article_block}}
{{>molecules-article_block}}

</div>
