#text_rechercher {

  font-family: "Museo500";
  font-size: 13px;
  letter-spacing: 0.4px;
  width: 135px;
  height: 30px;
  border-radius: 0px;
  display: inline-block;
  background: $color-white;
  color: $color-black;
  border: none;
  line-height: 1;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-align: left;

    background-image: url('../../images/loupe.svg');
		background-size:contain;
    background-position: 100px 1px;
    background-repeat: no-repeat;
    padding-right: 30px;
}
